* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 130px;
  display: flex;
  padding-left: 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

img {
  width: 350px;
  height: 130px;
}